{% extends "products/fr/base.html" %}
{% load static %}
{% block content %}
    <main role="main" class="container">
        <div class="my-3 py-3">
					<p>
						Ici vous trouvez un aperçu des differents éléments de notre lune de miel. Chaque element peut être divisé en plusiers parts.
						Le prix qui est affiché est celui d'une part. En cliquant sur le bouton "Voir détails", vous trouverez plus d'info sur
						chaque élément du voyage. Vous verrez aussi de combien de parts chaque élément est composé et aussi combien de parts sont
						encore disponibles.
					</p>
        </div>
        {% include "products/fr/messages.html" %}
        <section class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card text-center border-0 mb-4">
                    <div>
                        <a href="{% url 'products:product-detail' pk=product.pk %}">
                            <img src="{{ product.image_path }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-1">{{ product.name_FR }}</p>
                        <p class="card-text font-weight-bold">{{ product.price|floatformat:2 }} EUR</p>
                        <a href="{% url 'products:product-detail-fr' pk=product.pk %}" class="btn btn-primary">Voir détails</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        <nav aria-label="Product navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous  %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                    </li>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next   %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
{% endblock %}