body {
	font-family: Darker Grotesque; 
	font-size: 24px;
	background-color: #F3F9FD;
}


/*
 * Custom translucent site header
 */

.navbar {
  background-color: #b46a55;
	padding: 4px 20px;
}
.navbar a {
  color: #fff;
  transition: color .15s ease-in-out;
	padding: 0.5rem 0rem;
}
.navbar a:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
	background-color: #F3F9FD;
	min-width: 0rem;
	padding: 0px 8px;
}

.accordion-button {
	font-size: 1.5rem;
	font-family: Darker Grotesque;
}

.btn {
	background-color:#294C66; 
	color:white;
	font-size: 1.5rem;
}

.fields_rsvp {
	text-align:center;
	vertical-align:middle;
}

#map {
  height: 500px;
}


