{% extends "products/base.html" %}
{% block content %}
    <div class="container my-4">
        <div>
            <h6 class="justify-content-start" style="margin-bottom: 60px;">
							De bestelling wer goed geregistreerd. Er werd zonet een e-mail met alle info over de betaling naar jouw e-mailadres 
							vesrtuurd. Het kan zijn dat deze e-mail in je spam beland. De producten zijn tot {{ datum }} voor jouw gereserveerd. 
							Indien we de betaling tegen dan niet hebben ontvangen, worden de geschenken terug beschikbaar voor iedereen.
						</h6>
            <h4 class="text-center">Bedankt voor je cadeau!</h4>
            <div class="m-auto w-50  py-4">
                <a class="btn btn-warning btn-block mb-3" href="{% url 'products:home-page' %}">Terug naar overzicht</a>
                <a class="btn btn-success btn-block" href="{% url 'show-orders' %}">Bekijk bestellingen</a>
            </div>
        </div>
    </div>
{% endblock %}