{% extends "products/base.html" %}
{% block content %}
    <div class="container my-4">
        <div>
            <h6 class="justify-content-start" style="margin-bottom: 60px;">
							Het cadeau werd goed besteld. Er werd zonet een e-mail met alle info over de betaling naar jouw e-mailadres verstuurd. 
							Het kan zijn dat deze e-mail in je spam belandt. Het cadeau is tot {{ datum }} voor jou gereserveerd. Indien we de 
							betaling tegen dan niet hebben ontvangen, wordt het cadeau terug beschikbaar gemaakt voor iedereen.
						</h6>
            <h4 class="text-center">Bedankt voor je cadeau!</h4>
            <div class="m-auto w-50  py-4">
                <a class="btn btn-warning btn-block mb-3" href="{% url 'products:home-page' %}">Terug naar overzicht</a>
                <a class="btn btn-success btn-block" href="{% url 'show-orders' %}">Bekijk bestellingen</a>
            </div>
        </div>
    </div>
{% endblock %}
