<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Lisa & Julien</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">
	<link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" type="text/css">
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <!-- Bootstrap core CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


  <!-- Custom styles for this template -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light d-flex flex-column flex-md-row justify-content-between">
		<div class="d-lg-block dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink78" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Langue</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink78"> 
				<a class="dropdown-item" href="{% url 'home' %}" style="color: #000;"><span class="flag-icon flag-icon-nl"></span> Nederlands</a> 
				<a class="dropdown-item" href="{% url 'home-fr' %}" style="color: #000;"><span class="flag-icon flag-icon-fr"></span> Français</a> 
			</div>
		</div>
		<a class="py-2 d-none d-md-inline-block" href="#planning">Planning</a>
		<a class="py-2 d-none d-md-inline-block" href="#location">Lieu</a>
		<a class="py-2 d-none d-md-inline-block" href="#faq">FAQ</a>
		<a class="py-2 d-none d-md-inline-block" href="#contact">Contact</a>
		<a class="py-2 d-none d-md-inline-block" href="{% url 'products:home-page-fr' %}">Liste de mariage</a>
		<a class="py-2 d-none d-md-inline-block" href="{% url 'users-family' %}">Confirmer</a> 
		<!--<a class="py-2 d-none d-md-inline-block" href="#">Pictures</a>-->
  </nav>

<main>
  {% load static %}
	<div class="row" id="header-image">
		<img src="{% static 'pages/img/Engagement.png' %}" class="img-fluid" alt="Responsive image">
	</div>
	
	<div class="border-bottom" style="margin-top:50px;">
		<div class="row" style="height: 150px;">
			<div class="d-flex align-items-center">
				<div class="container">
					<div class="d-flex justify-content-center">
						<img id="count-down" src="{% static 'pages/img/countdown.png' %}" style="height: 100px;">
					</div>
					</div>
			</div>
		</div>
		<div class="row" style="height: 150px;">
			<div class="d-flex align-items-center">
				<div class="container">
					<h1 class="d-flex justify-content-center">
						<div id="countdown" style="font-size: 60px;"></div>
					</h1>
				</div>
			</div>
		</div>
	</div>
  
  <div class="row">
    <div id="intro" class="col-12" style="padding: 100px">
	  <p>Coucou chers amis et chère famille,</p>
	  <div style="text-align: justify; text-justify: inter-word;">
			Comme vous le savez, nous sommes fiancés depuis le 26 novembre 2021. 
			Nous sommes impatients de célébrer notre amour et notre mariage avec vous. 
			Sur ce site web, que Julien a créé spécialement à cette occasion, 
			vous trouverez toutes les informations concernant notre mariage. 
			Ici, vous trouverez également toujours les mesures corona en vigueur 
			autour des fêtes de mariage. En tout cas, nous espérons 
			que nous pourrons faire la fête comme jamais auparavant!  
	  </div>
	</div>
  </div>

	<div id="planning" class="d-flex align-items-center" style="margin: 0px 50px;">
	  <div class="col-8 " style="text-align: justify; text-justify: inter-word; padding: 60px;">
			<h2 style="margin-bottom:50px;">PROGRAMME DU JOUR</h2>
			<div>
				<p>
					Nous attendons tous les invités qui seront présents à la cérémonie pour 15h30. Ainsi la cérémonie
					pourra débuter à 16h. La cérémonie sera suivie par une réception, le diner et pour finir la soiée dansante.
				</p>
				<p>
					Voudriez-vous partager le plus beau jour de notre vie avec nous? N'oubliez pas de confirmer votre présence alors.
					Appuyez sur le bouton ci-dessous et connectez-vous à l'aide de vos identifiants de connexion que vous avez
					reçu avec votre invitation. Faites-nous savoir si vous serez de la partie.
				</p>
				<div style="margin-top: 50px;">
					<a href="{% url 'login' %}" class="btn btn-lg">
						<h5>Je serai là!</h5>
				  </a>
				</div>
			</div>
	  </div>
    <div class="col-4">
			<img src="{% static 'pages/img/Planning.png' %}" alt="Planning" width="100%">
	  </div>
	</div>

  <div id="location" class="row" style="padding:20px; padding-top: 60px;">
	<div class="col-6">
		<div id="map">
		</div>
	</div>
	<div class="col-6" style="text-align: justify; text-justify: inter-word;">
	  <h2 style="margin-bottom:25px;">LIEU</h2>
	  <p>Notre cérémonie, réception et fête auront lieu dans la magnifique salle de Kattebroek à Dilbeek. </p>
	  <p>A deux pas du Ring de Bruxelles et quand même entouré de verdure, bref c'est l'endroit idéal pour prononcer notre oui.</p>  
	  <p>Un grand parking est situé à proximité de la salle</p>
		<p>Adresse: Elegemstraat 160, 1700 Dilbeek</p>
	</div>
  </div>
  
  <h2 id="faq" style="padding: 60px 20px 20px;">FOIRE AUX QUESTIONS</h2>
  <div class="accordion accordion-flush border" id="accordionFlush">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Quelles sont les mesures anti-Covid pour les mariages ? 
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush" style="padding:20px">
				<div class="accordion-body">
					<p>
						Bonne nouvelle ! Les mariages peuvent toujours être célébrés. 
						Bien sûr, à condition de respecter les mesures anti-Covid en vigeur. 
						Depuis le 26 novembre 2021, les règles sont les suivantes : 
						<ul>
							<li>Comme nous recevons plus de 50 personnes, le Covid Safe Ticket doit être présenté à l'arrivée. </li>
							<li>Tables de 6 personnes maximum.</li>
							<li>Il est autorisé de danser, à condition de porter un masque. </li>
							<li>Heureusement il n'y a pas d'heure de fin pour les mariages, nous pouvons donc continuer jusqu'au petit matin ! </li>
						</ul>
					</p>
					<p>Nous mettrons cette question à jour lorsqu'il y aura de nouvelles mesures. </p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Y a-t-il un code vestimentaire ? 
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush" style="padding:20px">
				Pas vraiment, nous vous aimons tel que vous êtes et nous trouvons donc 
				qu'il est très important de bien se sentir dans ce que vous portez ce jour-là. 
				Bien sûr, nous supposons que vous profiterez de cette occasion pour vous faire beau, 
				mais il n'y a pas de directives ni de restrictions pour le reste
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					Mes enfants sont-ils les bienvenus ?
				</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush" style="padding:20px">
				<p>
					Tous les enfants sont les bienvenus, en tant que parents nous vous laissons choisir
					s’ils vous accompagnent oui ou non. Sachez qu'il n'y a pas encore beaucoup d'enfants 
					dans notre famille proche et nos amis. Ils n'auront donc pas beaucoup de camarades 
					pour jouer. N’oubliez pas de nous avertir de leur présence !
				</p>
				<a href="{% url 'login' %}" class="btn btn-lg"><h6>Je serai là!</h6></a>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
					Avez-vous une liste de mariage?  
				</button>
			</h2>
			<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlush" style="padding:20px">
			<p>
				Oui bien sûr! Nous avons opté pour une liste de lune de miel. Cette liste comprend toutes sortes 
				d'éléments de notre lune de miel à La Réunion que vous pouvez nous offrir. De cette façon, 
				vous aidez à construire notre lune de miel. Sélectionnez les pièces que vous souhaitez nous offrir 
				en fonction de votre budget. Pour finaliser votre cadeau, appuyez sur le bouton ‘Offrir ce cadeau !’. 
				Remplissez vos coordonnées, laissez-nous un message si vous le souhaitez et appuyez sur envoyer. 
				Ensuite, vous recevrez un e-mail avec les instructions pour payer le cadeau.
			</p>
			<a href="{% url 'products:home-page-fr' %}" class="btn btn-lg"><h6>Liste de mariage</h6></a>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingFive">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
					Allez-vous partager les photos du mariage? 
				</button>
			</h2>
			<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlush" style="padding:20px">
			<p>
				Evidemment! Dès que nous recevons les photos de notre photographe (au plus tard 1 mois après le maraige),
				nous procéderons à une première selection. Ensuite nous ajouterons une section "Photos" dans le menu. Ce 
				lien vous mènera vers un aperçu de toutes nos photos selectionnées.
			</p>
			<!--<a href="{% url 'home' %}" class="btn btn-lg" style="background-color:#294C66; color:white;"><h6>Foto's</h6></a>-->
			</div>
		</div>
  </div>
  
  <div id="contact" style="padding:60px 20px 20px;">
		<h2 style="margin-bottom:40px;">COORDONNÉES</h2>
		<div class="row justify-content-start" style="margin-bottom:30px;">
			<div class="col-4">
				<img src="{% static 'pages/img/contact.jpg' %}" alt="Contact" width="100%">
			</div>
			<div class="col-6">
				<p>
					Vous avez une question à nous poser ou vous souhaitez nous dire quelque chose? 
					N'hésitez pas à nous appeler ou à nous envoyer un message !
				</p>
				<p>Lisa: 0496 78 86 25</p>
				<p>Julien: 0493 52 70 69</p>
			</div>
		</div>
		<div class="row justify-content-end" style="margin-bottom:30px;">
			<div class="col-6 text-end">
				<p>
					Voici Melissa, une de nos amies et aussi l'un de nos témoins. 
					Melissa travaillera avec nous et le personnel de salle pour 
					s'assurer que tout se passe comme prévu le jour même.  
				</p>
				<p>Vous avez une question ou une requête pour Mélissa ? N'hésitez pas à la contacter. </p>
				<p>Melissa: 0471 95 76 83 </p>
			</div>
			<div class="col-2">
				<img src="{% static 'pages/img/Melissa.jpeg' %}" alt="Contact" width="100%">
			</div>
		</div>
  </div>

    <!--{% load static %}-->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pages/js/functions.js' %}"></script>
		<script src="{% static 'pages/js/popper.js' %}"></script>
		<script>
			$(document).ready(function(){
        $('.dropdown-toggle').dropdown()
			});
		</script>
	  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-W7ZW8ZH96M5r0wOB2HS5dyxjxupoC3E&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>