<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Lisa & Julien</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">
	<link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <!-- Bootstrap core CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .day {
      word-spacing: 30px;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .day {
      font-size: 24px;
      padding: 10px;
    }
    .day img {
      height: 50px;
      width: 50px;
    }
  </style>


  <!-- Custom styles for this template -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
</head>
<body>

<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
  <!--<a class="py-2" href="#" aria-label="Product">
    <img src="{% static 'pages/img/logo_witte cirkel.svg' %}" alt="Logo" width="24" height="24"</svg>
  </a>-->
  <a class="py-2 d-none d-md-inline-block" href="#planning">Planning</a>
  <a class="py-2 d-none d-md-inline-block" href="#location">Locatie</a>
	<a class="py-2 d-none d-md-inline-block" href="#faq">FAQ</a>
	<a class="py-2 d-none d-md-inline-block" href="#contact">Contact</a>
  <a class="py-2 d-none d-md-inline-block" href="{% url 'products:home-page' %}">Huwelijksreislijst</a>
	<a class="py-2 d-none d-md-inline-block" href="{% url 'users-family' %}">Registreren</a>
	<!--<a class="py-2 d-none d-md-inline-block" href="#">Pictures</a>-->
	
  </nav>
</header>

<main>
  {% load static %}
	<div class="row" id="header-image">
		<img src="{% static 'pages/img/Engagement.png' %}" class="img-fluid" alt="Responsive image">
	</div>
	
	<!--
  <div class="row border-bottom" style="height: 300px;">
		<div class="col-6 d-flex align-items-center">
      <div class="container">
        <div class="d-flex justify-content-center">
          <img id="count-down" src="{% static 'pages/img/countdown.png' %}" style="height: 150px;">
        </div>
			</div>
    </div>
		<div class="col-6 d-flex align-items-center">
			<div class="container">
				<h1 class="d-flex justify-content-start" style="color: #294C66;">
					<div id="countdown" style="font-size: 60px;"></div>
				</h1>
			</div>
		</div>
  </div>
	-->
	
	<div class="border-bottom" style="margin-top:50px;">
		<div class="row" style="height: 150px;">
			<div class="d-flex align-items-center">
				<div class="container">
					<div class="d-flex justify-content-center">
						<img id="count-down" src="{% static 'pages/img/countdown.png' %}" style="height: 100px;">
					</div>
					</div>
			</div>
		</div>
		<div class="row" style="height: 150px;">
			<div class="d-flex align-items-center">
				<div class="container">
					<h1 class="d-flex justify-content-center">
						<div id="countdown" style="font-size: 60px;"></div>
					</h1>
				</div>
			</div>
		</div>
	</div>
  
  <div class="row">
    <div id="intro" class="col-12" style="padding: 100px">
	  <p>Hey lieve vrienden en familie,</p>
	  <div style="text-align: justify; text-justify: inter-word;">
			Zoals jullie weten zijn wij sinds 26 november 2021 verloofd. 
			We kijken er enorm naar uit om onze liefde en ons huwelijk 
			samen met jullie te vieren. Op deze website, die Julien 
			speciaal voor deze gelegenheid gemaakt heeft, vinden jullie 
			alle info over ons trouwfeest terug. Wij hopen in ieder geval 
			dat we gaan kunnen feesten als nooit tevoren!  
	  </div>
	</div>
  </div>

	<div id="planning" class="d-flex align-items-center" style="margin: 0px 50px;">
	  <div class="col-8 " style="text-align: justify; text-justify: inter-word; padding: 60px;">
			<h2 style="margin-bottom:50px;">Dagplanning</h2>
			<div>
				<p> 
					We verwachten alle ceremoniegasten om 15u30 zodat we om 16u kunnen starten met de  ceremonie. 
					Nadien heffen we het glas tijdens de receptie, gevolgd door het diner en dansfeest.
				</p>
				<p>
					Zal jij er bij zijn op de mooiste dag van ons leven? Vergeet dan zeker je aanwezigheid niet te 
					bevestigen! Klik op onderstaande knop, meld je aan met de logingegevens die je bij je 
					uitnodiging hebt ontvangen en laat ons weten dat we jou mogen verwachten.
				</p>
				<div style="margin-top: 50px;">
					<a href="{% url 'login' %}" class="btn btn-lg" style="background-color:#294C66; color:white;">
						<h5>Ik zal er zijn!</h5>
				  </a>
				</div>
			</div>
	  </div>
    <div class="col-4">
			<img src="{% static 'pages/img/Planning.png' %}" alt="Planning" width="100%">
	  </div>
	</div>

  <div id="location" class="row" style="padding:20px; padding-top: 60px;">
	<div class="col-6">
		<div id="map">
		</div>
	</div>
	<div class="col-6" style="text-align: justify; text-justify: inter-word;">
	  <h2 style="margin-bottom:25px;">Locatie</h2>
	  <p>Onze ceremonie, receptie en ons feest vinden plaats in het prachtige Kattebroek te Dilbeek.</p>
	  <p>Vlakbij de Ring rond Brussel, maar toch tussen de velden is dit voor ons de ideale plek om elkaar het ja-woord te geven.</p>  
	  <p>Naast de zaal is er een ruime parking.</p>
		<p>Adres: Elegemstraat 160, 1700 Dilbeek</p>
	</div>
  </div>
  
  <h2 id="faq" style="padding: 60px 20px 20px;">Frequently Asked Questions</h2>
  <div class="accordion accordion-flush border" id="accordionFlush">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Wat zijn de coronamaatregelen voor trouwfeesten?
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush" style="padding:20px">
				<div class="accordion-body">
					<p>
						Goed nieuws! Trouwfeesten mogen nog steeds doorgaan, uiteraard wel mits je rekening houdt met de huidige coronamaatregelen. 
						Sinds 26 november 2021 zijn de regels als volgt:
						<ul>
							<li>Aangezien we meer dan 50 personen binnen ontvangen, 
									moet bij aankomst iedereen ouder dan 12 jaar een geldig Covid Safe Ticket tonen.</li>
							<li>Tafels van maximum 6 personen. </li>
							<li>Dansen mag, maar wel met mondmasker. </li>
							<li>Er is gelukkig geen eind uur voor huwelijksfeesten, dus we kunnen tot in de vroege uurtjes doorgaan! </li>
						</ul>
					</p>
					<p>Deze vraag zullen we steeds updaten als er nieuwe maatregelen zijn.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Is er een dresscode? 
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush" style="padding:20px">
				Niet echt, we zien je graag zoals je bent en vinden het dan ook heel belangrijk 
				dat jij je goed voelt in wat je draagt die dag. Uiteraard gaan we er wel van uit dat 
				je van dit bijzondere moment gebruik maakt om je wat op te kleden, 
				maar voor de rest zijn er geen richtlijnen of restricties.
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					Zijn mijn kids welkom? 
				</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush" style="padding:20px">
				<p>
					Alle kids zijn welkom, we laten jullie als ouders de keuze of jullie ze wel of niet meebrengen. 
					Weet wel dat er nog niet heel veel kindjes in onze dichte familie- en vriendenkring zijn. 
					Heel veel speelkameraadjes zullen ze dus niet hebben. Laat zeker weten of ze erbij zullen zijn of niet!
				</p>
				<a href="{% url 'login' %}" class="btn btn-lg" style="background-color:#294C66; color:white;"><h6>Ik zal er zijn!</h6></a>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
					Hebben jullie een huwelijkslijst? 
				</button>
			</h2>
			<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlush" style="padding:20px">
			<p>
				Ja hoor! Wij hebben gekozen voor een huwelijksreislijst. 
				Die lijst bestaat uit allerlei onderdelen van onze huwelijksreis naar La Réunion 
				die jullie ons kunnen cadeau geven. Op die manier bouwen jullie mee aan onze huwelijksreis. 
				Selecteer op basis voor jouw budget de onderdelen die jij ons wil geven. 
				Om je cadeau te finaliseren druk je op de knop ‘Ik geef dit cadeau!’. 
				Vul je gegevens in, laat indien gewenst een boodschap voor ons achter en druk op verzenden. 
				Nadien ontvang je een e-mail met de instructies om het cadeau te betalen. 
			</p>
			<a href="{% url 'products:home-page' %}" class="btn btn-lg" style="background-color:#294C66; color:white;"><h6>Huwelijksreislijst</h6></a>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingFive">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
					Gaan jullie de foto’s van jullie trouw met ons delen? 
				</button>
			</h2>
			<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlush" style="padding:20px">
			<p>
				Uiteraard! 😊 Zodra we de foto’s van de fotograaf ontvangen (ten laatste 1 maand na de trouw), 
				maken wij een eerste selectie. Nadien voegen we in de menubalk van deze website een item “foto’s” toe, 
				dat jullie naar het overzicht van alle foto’s brengt. 
			</p>
			<!--<a href="{% url 'home' %}" class="btn btn-lg" style="background-color:#294C66; color:white;"><h6>Foto's</h6></a>-->
			</div>
		</div>
  </div>
  
  <div id="contact" style="padding:60px 20px 20px;">
		<h2 style="margin-bottom:40px;">Contactgegevens</h2>
		<div class="row justify-content-start" style="margin-bottom:30px;">
			<div class="col-4">
				<img src="{% static 'pages/img/contact.jpg' %}" alt="Contact" width="100%">
			</div>
			<div class="col-6">
				<p>Heb je een vraag voor ons of wil je ons iets vertellen? Aarzel niet om ons te bellen of een berichtje te sturen!</p>
				<p>Lisa: 0496 78 86 25</p>
				<p>Julien: 0493 52 70 69</p>
			</div>
		</div>
		<div class="row justify-content-end" style="margin-bottom:30px;">
			<div class="col-6 text-end">
				<p>
					Dit is Melissa, een vriendin van ons en ook één van onze getuigen. 
					Melissa zal er samen met ons en het personeel van de zaal voor proberen zorgen dat 
					alles de dag zelf volgens plan verloopt.
				</p>
				<p>Heb je een vraag of verzoek voor Melissa? Aarzel dan zeker niet om haar te contacteren. </p>
				<p>Melissa: 0471 95 76 83 </p>
			</div>
			<div class="col-2">
				<img src="{% static 'pages/img/Melissa.jpeg' %}" alt="Contact" width="100%">
			</div>
		</div>
  </div>

    <!--{% load static %}-->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pages/js/functions.js' %}"></script>
	<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-W7ZW8ZH96M5r0wOB2HS5dyxjxupoC3E&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>