{% extends "products/base.html" %}
{% load static %}
{% block content %}
    <main role="main" class="container">
				<div class="my-3 py-3">
					<p>
					  We hebben onze huwelijksreis opgesplitst in verschillende onderdelen. Deze onderdelen kunnen op hun beurt nog eens
					  onderverdeeld zijn in meerdere pakketten. Op deze pagina zie je steeds de prijs per pakket. Via de knop "Details bekijken"
						krijg je meer info over elke onderdeel van onze reis. Je ziet hier ook hoeveel pakketten elk onderdeel bevat en hoeveel er 
						nog beschikbaar zijn.
					<p>
        </div>
        {% include "products/messages.html" %}
        <section class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card text-center border-0 mb-4">
                    <div>
                        <a href="{% url 'products:product-detail' pk=product.pk %}">
                            <img src="{{ product.image_path }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-1">{{ product.name }}</p>
                        <p class="card-text font-weight-bold">{{ product.price|floatformat:2 }} EUR</p>
                        <a href="{% url 'products:product-detail' pk=product.pk %}" class="btn btn-primary">Details bekijken</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        <nav aria-label="Product navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous  %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Vorige</a>
                    </li>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next   %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Volgende</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
{% endblock %}