{% load cart_icon %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand h1 text-primary" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'products:home-page' %}">Geschenklijst</a>
                </li>
								<li class="nav-item">
									<i class="fa-duotone fa-circle-info"></i>
								</li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'show-orders' %}">Bestellingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Afmelden</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Aanmelden</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carts:show-cart' %}">Winkelmand<i class="fas fa-shopping-cart ml-2"></i>
                        <span id="cart-total-items" class="badge badge-info">{{ user| total_cart_items }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>